<div class="container">
  <div class="header">
    <h1>PHASMOPHOBIA RANDOMIZER</h1>
  </div>

  <div class="main-panel">
    <div class="equipment-container">
      @if (!randomized) {
        @for (e of equipment; track e.name) {
          <div class="equipment">
            <h2>{{ e.name }}</h2>
            <div class="tiers">
              <div class="tier-container t1" (click)="handleTierToggled(e, 1)">
                @if (e.selectedTiers.includes(1)) {
                  <h1>&#10003;</h1>
                }
                <img class="output-image"
                     ngSrc="./assets/images/items/{{ e.imgPath }}/T1.webp"
                     alt="{{ e.name }} Tier 1"
                     height="500"
                     width="500">
              </div>
              <div class="tier-container t2" (click)="handleTierToggled(e, 2)">
                @if (e.selectedTiers.includes(2)) {
                  <h1>&#10003;</h1>
                }
                <img class="output-image"
                     ngSrc="./assets/images/items/{{ e.imgPath }}/T2.webp"
                     alt="{{ e.name }} Tier 2"
                     height="500"
                     width="500">
              </div>
              <div class="tier-container t3" (click)="handleTierToggled(e, 3)">
                @if (e.selectedTiers.includes(3)) {
                  <h1>&#10003;</h1>
                }
                <img class="output-image"
                     ngSrc="./assets/images/items/{{ e.imgPath }}/T3.webp"
                     alt="{{ e.name }} Tier 3"
                     height="500"
                     width="500">
              </div>
            </div>
          </div>
        }
      } @else {
        @for (o of output; track o.name) {
          <div class="output">
            <h2 class="output-name">{{ o.name }}</h2>
            <div class="output-tier">
              <h3>Tier {{ o.tier }}</h3>
              <img class="output-image"
                   ngSrc="./assets/images/items/{{ o.imgPath }}/T{{ o.tier }}.webp"
                   alt="{{ o.name }} Tier {{ o.tier }}"
                   height="500"
                   width="500">
            </div>
            <h3 class="output-amount">Amount: {{ o.amount }}</h3>
          </div>
        }
      }
    </div>

    <div class="button-group">
      <button matButton="tonal"
              [class.disabled]="randomized"
              [disabled]="randomized"
              (click)="randomize()">
        Randomize
      </button>

      <button matButton="tonal"
              [class.disabled]="!randomized"
              [disabled]="!randomized"
              (click)="reset()">
        Reset
      </button>
    </div>
  </div>
</div>

<!-- The following code was taken from https://codepen.io/Ravyre/pen/gXawyY -->
<div class="fogwrapper">
  <div id="foglayer_01" class="fog">
    <div class="image01"></div>
    <div class="image02"></div>
  </div>
  <div id="foglayer_02" class="fog">
    <div class="image01"></div>
    <div class="image02"></div>
  </div>
  <div id="foglayer_03" class="fog">
    <div class="image01"></div>
    <div class="image02"></div>
  </div>
</div>
