<div class="container">
  <div class="header">
    <h1>Random Phasmo</h1>
  </div>

  <div class="main-panel">
    <div class="equipment-container" #equipmentContainer>
      @if (!randomized) {
        @for (e of equipment; track e.name) {
          <div class="equipment">
            <h1>{{ e.name }}</h1>

            <div class="tiers">
              <div class="tier-container t1" (click)="handleTierToggled(e, 1)">
                @if (e.selectedTiers.includes(1)) {
                  @if (e.locked) {
                    <h2>&#128274;</h2>
                  } @else {
                    <h2 class="green">&#10003;</h2>
                  }
                } @else {
                  <h2 class="red">&#128711;</h2>
                }
                <img class="output-image"
                     [class.not-selected]="!e.selectedTiers.includes(1)"
                     ngSrc="./assets/images/items/{{ e.imgPath }}/T1.webp"
                     alt="{{ e.name }} Tier 1"
                     height="500"
                     width="500">
              </div>
              <div class="tier-container t2" (click)="handleTierToggled(e, 2)">
                @if (e.selectedTiers.includes(2)) {
                  @if (e.locked) {
                    <h2>&#128274;</h2>
                  } @else {
                    <h2 class="green">&#10003;</h2>
                  }
                } @else {
                  <h2 class="red">&#128711;</h2>
                }
                <img class="output-image"
                     [class.not-selected]="!e.selectedTiers.includes(2)"
                     ngSrc="./assets/images/items/{{ e.imgPath }}/T2.webp"
                     alt="{{ e.name }} Tier 2"
                     height="500"
                     width="500">
              </div>
              <div class="tier-container t3" (click)="handleTierToggled(e, 3)">
                @if (e.selectedTiers.includes(3)) {
                  @if (e.locked) {
                    <h2>&#128274;</h2>
                  } @else {
                    <h2 class="green">&#10003;</h2>
                  }
                } @else {
                  <h2 class="red">&#128711;</h2>
                }
                <img class="output-image"
                     [class.not-selected]="!e.selectedTiers.includes(3)"
                     ngSrc="./assets/images/items/{{ e.imgPath }}/T3.webp"
                     alt="{{ e.name }} Tier 3"
                     height="500"
                     width="500">
              </div>
            </div>

            <div class="amount-container">
              <div class="amount">
                <h3>Min</h3>
                <div class="amount-stepper">
                  <button matIconButton (click)="decrementMin(e)">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <h2>{{ e.currentMinAmount }}</h2>
                  <button matIconButton (click)="incrementMin(e)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>

              <div class="amount">
                <h3>Max</h3>
                <div class="amount-stepper">
                  <button matIconButton (click)="decrementMax(e)">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <h2>{{ e.currentMaxAmount }}</h2>
                  <button matIconButton (click)="incrementMax(e)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        }
      } @else {
        @for (o of output; track o.name) {
          <div class="output"
               [class.none]="!o.amount">
            <h1 class="output-name">{{ o.name }}</h1>
            <h1 class="output-amount">x{{ o.amount }}</h1>
            @if (o.amount > 0) {
              <div class="output-tier">
                <h2>Tier {{ o.tier }}</h2>
                <img class="output-image"
                     ngSrc="./assets/images/items/{{ o.imgPath }}/T{{ o.tier }}.webp"
                     alt="{{ o.name }} Tier {{ o.tier }}"
                     height="500"
                     width="500">
              </div>
            }
          </div>
        }
      }
    </div>

    <div class="button-group">
      <button matButton="tonal"
              [class.disabled]="randomized"
              [disabled]="randomized"
              (click)="randomize()">
        Randomize
      </button>

      <button matButton="tonal"
              [class.disabled]="!randomized"
              [disabled]="!randomized"
              (click)="reset()">
        Reset
      </button>
    </div>
  </div>

  <h5 class="disclaimer">All content, images, and media sourced from Phasmophobia belongs to Kinetic Games.</h5>
</div>

<!-- The following code was taken from https://codepen.io/Ravyre/pen/gXawyY -->
<div class="fogwrapper">
  <div id="foglayer_01" class="fog">
    <div class="image01"></div>
    <div class="image02"></div>
  </div>
  <div id="foglayer_02" class="fog">
    <div class="image01"></div>
    <div class="image02"></div>
  </div>
  <div id="foglayer_03" class="fog">
    <div class="image01"></div>
    <div class="image02"></div>
  </div>
</div>