.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  overflow: hidden;

  .header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
  }

  .main-panel {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 999;

    .equipment-container {
      height: 80%;
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;

      .equipment {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-left: 30%;
        margin-right: 30%;

        h2 {
          flex: 1 1 auto;
        }

        .tiers {
          width: 320px;
          display: flex;
          align-items: center;
          justify-content: start;
          flex: 0 1 auto;

          h4 {
            flex: 1 1 auto;
          }

          mat-button-toggle-group {
            flex: 0 1 auto;
          }
        }
      }
    }

    .button-group {
      display: flex;
      align-items: center;
      margin-top: 32px;

      button {
        transform: scale(200%);
        margin: 32px;
      }

      button.disabled {
        color: #ffffff55;
      }
    }
  }
}

// The following code was taken from https://codepen.io/Ravyre/pen/gXawyY
/* ---------- Fog ---------- */
.fogwrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  overflow: hidden;
}

#foglayer_01, #foglayer_02, #foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
}

#foglayer_01 .image01, #foglayer_01 .image02,
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}

#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  -moz-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
}

#foglayer_02, #foglayer_03 {
  -webkit-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  -moz-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/
#foglayer_01 .image01, #foglayer_01 .image02 {
  background: url('https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png') center center/cover no-repeat transparent;
}

#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  background: url('https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png') center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% {
    opacity: .05;
  }
  22% {
    opacity: .25;
  }
  40% {
    opacity: .14;
  }
  58% {
    opacity: .2;
  }
  80% {
    opacity: .08;
  }
  100% {
    opacity: .05;
  }
}

@-moz-keyframes foglayer_01_opacity {
  0% {
    opacity: .05;
  }
  22% {
    opacity: .25;
  }
  40% {
    opacity: .14;
  }
  58% {
    opacity: .2;
  }
  80% {
    opacity: .08;
  }
  100% {
    opacity: .05;
  }
}

@-o-keyframes foglayer_01_opacity {
  0% {
    opacity: .05;
  }
  22% {
    opacity: .25;
  }
  40% {
    opacity: .14;
  }
  58% {
    opacity: .2;
  }
  80% {
    opacity: .08;
  }
  100% {
    opacity: .05;
  }
}

@keyframes foglayer_01_opacity {
  0% {
    opacity: .05;
  }
  22% {
    opacity: .25;
  }
  40% {
    opacity: .14;
  }
  58% {
    opacity: .2;
  }
  80% {
    opacity: .08;
  }
  100% {
    opacity: .05;
  }
}

/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% {
    opacity: .25;
  }
  25% {
    opacity: .1;
  }
  50% {
    opacity: .05;
  }
  80% {
    opacity: .15;
  }
  100% {
    opacity: .25;
  }
}

@-moz-keyframes foglayer_02_opacity {
  0% {
    opacity: .25;
  }
  25% {
    opacity: .1;
  }
  50% {
    opacity: .05;
  }
  80% {
    opacity: .15;
  }
  100% {
    opacity: .25;
  }
}

@-o-keyframes foglayer_02_opacity {
  0% {
    opacity: .25;
  }
  25% {
    opacity: .1;
  }
  50% {
    opacity: .05;
  }
  80% {
    opacity: .15;
  }
  100% {
    opacity: .25;
  }
}

@keyframes foglayer_02_opacity {
  0% {
    opacity: .25;
  }
  25% {
    opacity: .1;
  }
  50% {
    opacity: .05;
  }
  80% {
    opacity: .15;
  }
  100% {
    opacity: .25;
  }
}

/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% {
    opacity: .4
  }
  27% {
    opacity: .1;
  }
  52% {
    opacity: .3;
  }
  68% {
    opacity: .15;
  }
  100% {
    opacity: .4;
  }
}

@-moz-keyframes foglayer_03_opacity {
  0% {
    opacity: .4
  }
  27% {
    opacity: .1;
  }
  52% {
    opacity: .3;
  }
  68% {
    opacity: .15;
  }
  100% {
    opacity: .4;
  }
}

@-o-keyframes foglayer_03_opacity {
  0% {
    opacity: .4
  }
  27% {
    opacity: .1;
  }
  52% {
    opacity: .3;
  }
  68% {
    opacity: .15;
  }
  100% {
    opacity: .4;
  }
}

@keyframes foglayer_03_opacity {
  0% {
    opacity: .4
  }
  27% {
    opacity: .1;
  }
  52% {
    opacity: .3;
  }
  68% {
    opacity: .15;
  }
  100% {
    opacity: .4;
  }
}

/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@-moz-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@-o-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  #foglayer_01 .image01, #foglayer_01 .image02,
  #foglayer_02 .image01, #foglayer_02 .image02,
  #foglayer_03 .image01, #foglayer_03 .image02 {
    width: 100%;
  }
}