@use 'sass:color';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: color.adjust(#4A414A, $lightness: -25%);
  height: 100vh;
  overflow: hidden;

  .header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;

    h1 {
      padding-left: 16px;
      font-size: xxx-large;
      animation: flicker-color 30s 10s ease-in-out infinite;
      font-family: Phasmo Title, serif;
      letter-spacing: 2px;
    }
  }

  .main-panel {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    .equipment-container {
      height: 80%;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow-y: auto;

      .equipment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 15%;
        margin-right: 15%;
        height: 72px;
        width: 50%;

        h1 {
          width: 32%;
        }

        .tiers {
          width: 32%;
          display: flex;
          align-items: center;
          justify-content: start;

          .tier-container {
            position: relative;
            height: 64px;
            width: 64px;
            display: flex;

            h2 {
              position: absolute;
              top: 0;
              left: 0;
              margin: 0;
              z-index: 10000;
            }

            h2.green {
              color: limegreen;
            }

            h2.red {
              color: red;
            }

            img {
              height: 64px;
              width: 64px;
              filter: contrast(80%);
            }

            .not-selected {
              filter: grayscale(1);
              z-index: -1;
            }
          }

          .tier-container:hover {
            cursor: pointer;
          }

          .tier-container.locked {
            cursor: not-allowed;
          }
        }

        .amount-container {
          display: flex;
          align-items: center;

          .amount {
            height: 64px;
            width: 96px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;

            h2 {
              font-family: Phasmo Title, serif;
              letter-spacing: 2px;
            }

            h3 {
              margin: 0;
            }

            .amount-stepper {
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }

      .output {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-left: 15%;
        margin-right: 15%;
        height: 64px;
        width: 33%;

        h1 {
          flex: 1 1 auto;
        }

        .output-tier {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 0 1 auto;

          .output-image {
            height: 64px;
            width: 64px;
            margin-left: 8px;
            filter: contrast(80%);
          }
        }

        .output-amount {
          flex: 0 1 auto;
          margin-left: 8px;
          width: 128px;
          display: flex;
          align-items: center;
          justify-content: start;

          h1 {
            max-width: 32px;
            width: 32px;
            text-align: center;
          }

          h1.tier-2 {
            mask: url('../assets/images/t2-mask.png'), linear-gradient(0, #000, #000);
            mask-size: 37px;
            mask-composite: exclude;
          }

          h1.tier-3 {
            mask: url('../assets/images/t3-mask.png'), linear-gradient(0, #000, #000);
            mask-size: 33px;
            mask-composite: exclude;
          }
        }
      }

      .none {
        color: #ffffff66;
      }

      .equipment:not(:last-child),
      .output:not(:last-child) {
        border-bottom: #FFFFFFBB 1px solid;
      }
    }

    .button-group {
      display: flex;
      align-items: center;
      margin-top: 32px;

      button {
        transform: scale(200%);
        margin: 32px;
        font-family: Phasmo Title, serif;
        letter-spacing: 2px;
      }
    }
  }

  .disclaimer {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    font-family: 'Droid Sans', serif;
  }

  button.disabled {
    color: #FFFFFF55;
  }
}

@media only screen and (orientation: portrait) {
  h1 {
    font-size: large !important;
  }

  h2 {
    font-size: medium !important;
  }

  .equipment-container {
    align-items: center !important;

    .equipment {
      align-items: center !important;
      justify-content: start !important;
      flex-direction: column !important;
      margin-left: 5% !important;
      margin-right: 5% !important;
      height: unset !important;

      h1 {
        text-align: center !important;
        width: unset !important;
      }

      .tiers {
        width: unset !important;
      }

      .amount-container {
        display: flex;
        align-items: center;
      }
    }

    .output {
      margin-left: 5% !important;
      margin-right: 5% !important;
      min-height: 72px !important;
      height: 72px !important;
      width: 80% !important;

      .output-amount {
        h1 {
          font-size: xx-large !important;
        }
      }

      .output-image {
        margin-left: 0 !important;
      }
    }
  }

  .button-group {
    height: 10% !important;
    margin-top: 0 !important;
    padding-bottom: 16px !important;

    button {
      transform: scale(100%) !important;
      margin: 32px 16px !important;
    }
  }

  .disclaimer {
    font-size: x-small !important;
    text-align: center;
    margin: 0 32px 8px !important;
  }
}

@keyframes flicker-color {
  0%, 6%, 50%, 57% {
    color: white;
  }
  2% {
    color: #FFFFFFCC;
  }
  2.5% {
    color: #FFFFFF99;
  }
  3.25% {
    color: #FFFFFF77;
  }
  3.75% {
    color: #FFFFFF99;
  }
  4% {
    color: #FFFFFFEE;
  }
  4.25% {
    color: #FFFFFFAA;
  }
  4.5% {
    color: #FFFFFFBB;
  }
  5% {
    color: #FFFFFF88;
  }
  5.25% {
    color: #FFFFFFBB;
  }
  50.5% {
    color: #FFFFFFCC;
  }
  51% {
    color: #FFFFFF99;
  }
  51.5% {
    color: #FFFFFFEE;
  }
  52.5% {
    color: #FFFFFF99;
  }
  53% {
    color: #FFFFFFDD;
  }
  54% {
    color: #FFFFFFAA;
  }
  55% {
    color: #FFFFFFBB;
  }
  55.5% {
    color: #FFFFFF66;
  }
  56% {
    color: #FFFFFFBB;
  }
}

// The following code was taken from https://codepen.io/Ravyre/pen/gXawyY
/* ---------- Fog ---------- */
.fogwrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  overflow: hidden;
}

#foglayer_01, #foglayer_02, #foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
}

#foglayer_01 .image01, #foglayer_01 .image02,
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}

#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  -moz-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
}

#foglayer_02, #foglayer_03 {
  -webkit-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  -moz-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/
#foglayer_01 .image01, #foglayer_01 .image02 {
  background: url('https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png') center center/cover no-repeat transparent;
}

#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  background: url('https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png') center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% {
    opacity: .05;
  }
  22% {
    opacity: .25;
  }
  40% {
    opacity: .14;
  }
  58% {
    opacity: .2;
  }
  80% {
    opacity: .08;
  }
  100% {
    opacity: .05;
  }
}

@-moz-keyframes foglayer_01_opacity {
  0% {
    opacity: .05;
  }
  22% {
    opacity: .25;
  }
  40% {
    opacity: .14;
  }
  58% {
    opacity: .2;
  }
  80% {
    opacity: .08;
  }
  100% {
    opacity: .05;
  }
}

@-o-keyframes foglayer_01_opacity {
  0% {
    opacity: .05;
  }
  22% {
    opacity: .25;
  }
  40% {
    opacity: .14;
  }
  58% {
    opacity: .2;
  }
  80% {
    opacity: .08;
  }
  100% {
    opacity: .05;
  }
}

@keyframes foglayer_01_opacity {
  0% {
    opacity: .05;
  }
  22% {
    opacity: .25;
  }
  40% {
    opacity: .14;
  }
  58% {
    opacity: .2;
  }
  80% {
    opacity: .08;
  }
  100% {
    opacity: .05;
  }
}

/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% {
    opacity: .25;
  }
  25% {
    opacity: .1;
  }
  50% {
    opacity: .05;
  }
  80% {
    opacity: .15;
  }
  100% {
    opacity: .25;
  }
}

@-moz-keyframes foglayer_02_opacity {
  0% {
    opacity: .25;
  }
  25% {
    opacity: .1;
  }
  50% {
    opacity: .05;
  }
  80% {
    opacity: .15;
  }
  100% {
    opacity: .25;
  }
}

@-o-keyframes foglayer_02_opacity {
  0% {
    opacity: .25;
  }
  25% {
    opacity: .1;
  }
  50% {
    opacity: .05;
  }
  80% {
    opacity: .15;
  }
  100% {
    opacity: .25;
  }
}

@keyframes foglayer_02_opacity {
  0% {
    opacity: .25;
  }
  25% {
    opacity: .1;
  }
  50% {
    opacity: .05;
  }
  80% {
    opacity: .15;
  }
  100% {
    opacity: .25;
  }
}

/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% {
    opacity: .4
  }
  27% {
    opacity: .1;
  }
  52% {
    opacity: .3;
  }
  68% {
    opacity: .15;
  }
  100% {
    opacity: .4;
  }
}

@-moz-keyframes foglayer_03_opacity {
  0% {
    opacity: .4
  }
  27% {
    opacity: .1;
  }
  52% {
    opacity: .3;
  }
  68% {
    opacity: .15;
  }
  100% {
    opacity: .4;
  }
}

@-o-keyframes foglayer_03_opacity {
  0% {
    opacity: .4
  }
  27% {
    opacity: .1;
  }
  52% {
    opacity: .3;
  }
  68% {
    opacity: .15;
  }
  100% {
    opacity: .4;
  }
}

@keyframes foglayer_03_opacity {
  0% {
    opacity: .4
  }
  27% {
    opacity: .1;
  }
  52% {
    opacity: .3;
  }
  68% {
    opacity: .15;
  }
  100% {
    opacity: .4;
  }
}

/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@-moz-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@-o-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  #foglayer_01 .image01, #foglayer_01 .image02,
  #foglayer_02 .image01, #foglayer_02 .image02,
  #foglayer_03 .image01, #foglayer_03 .image02 {
    width: 100%;
  }
}