@font-face {
  font-family: 'Phasmo';
  src: url('./assets/fonts/October Crow.ttf');
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Phasmo, serif;
  color: white;
  animation: flicker-color 20s 5s ease-in-out infinite;
}

@keyframes flicker-color {
  0%, 20% {
    color: white;
  }
  2% {
    color: #ffffffcc;
  }
  4% {
    color: #ffffff99;
  }
  6% {
    color: #ffffff77;
  }
  8% {
    color: #ffffff99;
  }
  10% {
    color: #ffffffee;
  }
  12% {
    color: #ffffffaa;
  }
  14% {
    color: #ffffffbb;
  }
  16% {
    color: #ffffff66;
  }
  18% {
    color: #ffffffbb;
  }
}