@font-face {
  font-family: 'Phasmo Title';
  src: url('./assets/fonts/October Crow.ttf');
}

@font-face {
  font-family: 'Phasmo Normal';
  src: url('./assets/fonts/Caveat-Regular.ttf');
  font-weight: 0.5;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Phasmo Normal, serif;
  color: white;
}